U-MERCH маркетплей мерчев
используем технологию supabase для хранения данных
используем технологию next.js для разработки
используем технологию tailwind css для стилизации
используем технологию shadcn/ui для компонентов
используем технологию react-hook-form для форм
используем технологию zod для валидации форм

используем технологию prisma для работы с базой данных
используем технологию zustand для управления состоянием





